.mainPage {
    width: 100%;
    min-height: 100vh;
    background-color: var(--mainPageColor);
}

.mainPage-container {
    width: 90%;
    margin: 2rem auto;
}

.mainPage-nav {
    width: 100%;
    min-height: 10vh;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.navBar-left {
    min-height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 100%;
    padding-right: 2rem;
}

.logo a {
    font-size: 2.5rem;
    font-family: var(--fontPoppins);
    font-weight: 600;
    color: var(--logoColor);
}

.navBar-left ul {
    padding-left: 2rem;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navBar-left ul li a {
    font-family: var(--fontInter);
    font-weight: 600;
    color: var(--navFontColor);
}

.navBar-left ul li a:hover{
    color: var(--navFontColorHover);
}



.navBar-right {
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    list-style: none;

    /* min-height: 10vh; */

}

.navBar-right ul li a {
    font-family: var(--fontInter);
    font-weight: 600;
    color: var(--navFontColor);
}

.navBar-right ul li a:hover {
    color: var(--navFontColorHover);
}

.navBar-right ul li span {
    background-color: var(--signInBackgroundColor);
    
    width: 2rem;
    height: 100%;
    padding: 10px 20px;
    
    border-radius: 25px;
}

.navBar-right ul li span a:hover {
    color: white;
}